<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CustomerMapper">

	<!-- 회원가입 -->
	<insert id="insert" parameterType="vo.CustomerVo">
		INSERT INTO
		CUSTOMER
		(EMAIL,NAME,PHONE,SEX,BIRTH,PASSWORD,TOTALPAY)
		VALUES(#{email},#{name},#{phone},#{sex},#{birth},#{password},0)
	</insert>

	<!-- 회원정보 -->
	<select id="selectCustomer" parameterType="String"
		resultType="vo.CustomerVo">
		SELECT
		<include refid="memSql" />
		FROM CUSTOMER WHERE EMAIL=#{email}
	</select>

	<sql id="memSql">
		CUSTOMER_NUM AS "customerNum", EMAIL, NAME, PHONE, SEX,
		BIRTH,
		PASSWORD
	</sql>

	<!-- 로그인 성공/실패 -->
	<select id="selectCustomerNum" resultType="int">
		SELECT COUNT(EMAIL)
		FROM
		CUSTOMER WHERE EMAIL=#{email} and PASSWORD=#{password}
	</select>

	<!-- 회원정보 수정(업데이트) -->
	<update id="update" parameterType="vo.CustomerVo">
		UPDATE CUSTOMER SET
		PHONE=#{phone}, PASSWORD=#{password} WHERE
		EMAIL=#{email}
	</update>

	<!-- 태우 -->
	<select id="selectAllCustomer" resultMap="customerResultMap">
		SELECT * FROM CUSTOMER
	</select>

	<select id="totalPay" resultType="int">
		SELECT TOTALPAY FROM CUSTOMER WHERE EMAIL=#{loginEmail}

	</select>

	<update id="totalPayUpdate" parameterType="map">
		UPDATE CUSTOMER SET
		TOTALPAY=#{totalPay} WHERE EMAIL=#{loginEmail}
	</update>

	<resultMap type="vo.CustomerVo" id="customerResultMap">
		<result column="CUSTOMER_NUM" property="memberNum" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="SEX" property="sex" />
		<result column="BIRTH" property="birth" />
		<result column="PASSWORD" property="password" />
		<result column="JOINDATE" property="joinDate" />
	</resultMap>
</mapper>