<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

	<!-- 상품조회(order mapper의 구매내역과 셋트) -->
	<select id="selectProduct" resultMap="productResultMap"
		parameterType="int">
		SELECT * FROM PRODUCT WHERE
		PRODUCT_NUM=#{productNum}
	</select>

	<!-- 상품전체 조회 -->
	<!-- <select id="selectProductAll" parameterType="productResultMap"> -->
	<!-- SELECT -->
	<!-- PRODUCT_TYPE,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_IMG FROM PRODUCT -->
	<!-- </select> -->

	<!-- 태우 -->
	<select id="selectBurger" resultMap="productResultMap">
		SELECT * FROM
		PRODUCT WHERE
		PRODUCT_TYPE="burger";
	</select>
	<select id="selectSide" resultMap="productResultMap">
		SELECT * FROM
		PRODUCT WHERE
		PRODUCT_TYPE="side";
	</select>
	<select id="selectDrink" resultMap="productResultMap">
		SELECT * FROM
		PRODUCT WHERE
		PRODUCT_TYPE="drink";
	</select>

	<update id="updateProduct" parameterType="vo.ProductVo">
		UPDATE product SET
		PRODUCT_NUM=#{productNum},PRODUCT_TYPE=#{productType},PRODUCT_NAME=#{productName},PRODUCT_PRICE=#{productPrice},PRODUCT_IMG=#{productImg}
		where PRODUCT_NUM=#{productNum}
	</update>
	<insert id="insertProduct" parameterType="vo.ProductVo">
		insert into
		product(PRODUCT_NUM,PRODUCT_TYPE,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_IMG)
		values(#{productNum},#{productType},#{productName},#{productPrice},#{productImg})
	</insert>
	<delete id="deleteProduct" parameterType="int">
		DELETE FROM product
		WHERE PRODUCT_NUM=#{productNum}
	</delete>

	<select id="basketAll" resultMap="productResultMap2">
		SELECT
		PRODUCT_NUM,PRODUCT_TYPE,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_IMG,BASKET_PRODUCT_NUM
		FROM
		BASKET A LEFT OUTER JOIN PRODUCT B ON A.BASKET_PRODUCT=B.PRODUCT_NUM
	</select>

	<select id="productName" resultType="String">
		SELECT
		PRODUCT_NAME FROM PRODUCT WHERE PRODUCT_NUM =#{productNum}
	</select>
	
	
	<select id="productImg" resultType="String">
		SELECT
		PRODUCT_IMG FROM PRODUCT WHERE PRODUCT_NUM =#{productNum}
	</select>

	<resultMap type="vo.ProductVo" id="productResultMap">
		<result column="PRODUCT_NUM" property="productNum"></result>
		<result column="PRODUCT_TYPE" property="productType"></result>
		<result column="PRODUCT_NAME" property="productName"></result>
		<result column="PRODUCT_PRICE" property="productPrice"></result>
		<result column="PRODUCT_IMG" property="productImg"></result>
		<result column="PRODUCT_MANY" property="productMany"></result>
	</resultMap>

	<resultMap type="vo.ProductVo" id="productResultMap2">
		<result column="PRODUCT_NUM" property="productNum"></result>
		<result column="PRODUCT_TYPE" property="productType"></result>
		<result column="PRODUCT_NAME" property="productName"></result>
		<result column="PRODUCT_PRICE" property="productPrice"></result>
		<result column="PRODUCT_IMG" property="productImg"></result>
		<result column="BASKET_PRODUCT_NUM" property="productMany"></result>
	</resultMap>	



</mapper>