<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="icon" href="../img/favicon.ico">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script th:inline="javascript">
	
	/* input연도 1~100까지 설정 */
	$(document).ready(function() {
		setDateBox();
	})

	function setDateBox() {
		var dt = new Date();
		var year = "";
		var com_year = dt.getFullYear();
		

		//발행 뿌려주기
		$("#year").append("<option value=''>년도</option>");
		//올해 기준으로 -50년부터 +1년을 보여준다.
		for (var y = (com_year); y >= (com_year - 100); y--) {
			$('#year').append("<option value='"+y+"'>" + y + "년" + "</option>");
		}

		var month;
		$("#month").append("<option value=''>월</option>");
		for (var i = 1; i <= 12; i++) {
			if (i<10) {
				$("#month").append(
						"<option value='"+'0'+i+"'>" + i + " 월" + "</option>");
			} else {
				$("#month").append(
						"<option value='"+i+"'>" + i + " 월" + "</option>");
			}
			
		}

		var day;
		$('#day').append("<option vale=''>일</option>");
		for (var i = 1; i <= 31; i++) {
			
			if (i<10) {
				$("#day").append("<option value='"+'0'+i+"'>" + i + "일" + "</option>");
			}else {
				$("#day").append("<option value='"+i+"'>" + i + "일" + "</option>");
			}
		}
	
	}
	
	/* 하나만 sex체크박스 선택되게 설정 */
	function checkOnlyOne(element) {
		  
		  const checkboxes 
		      = document.getElementsByName("sex");
		  
		  checkboxes.forEach((cb) => {
		    cb.checked = false;
		  })
		  
		  element.checked = true;
		}
	
	
	/* 비밀번호가 일치하는지 표시 */
		function check_pw(){
            var pw = document.getElementById('password_1').value;
            
            var check_SC = 0;
 
            if(pw.length < 6 || pw.length>16){
                window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
                document.getElementById('password_1').value='';
            }
           
            if(document.getElementById('password_1').value !='' && document.getElementById('password_2').value!=''){
                if(document.getElementById('password_1').value==document.getElementById('password_2').value){
                    document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                    document.getElementById('check').style.color='blue';
                }
                else{
                    document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                    document.getElementById('check').style.color='red';
                }
            }
        }
	
	
</script>
<link href="css/join.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header th:include="/header"></header>
	<div class="contentsWrap">
		<div class="web_container">
			<div class="subtitWrap">
				<h2>회원가입</h2>
			</div>
			<div class="containerbox">
				<form action="join" method="post">
					<div class="container1">
						<div class="tit01">
							<img src="/img/join1.png"> <span>기본정보</span>
						</div>
					</div>
					<div class="container2">
						<div class="titbox">
							<p>회원정보를 입력해 주세요</p>
						</div>
						<div class="list">
							<ul>
								<li>
									<p>이메일 아이디</p> <input class="inputtype" name="email"
									placeholder="예) name@mail.com">
								</li>
								<li>
									<p>이름</p> <input class="inputtype" name="name"
									placeholder="홍길동">
								</li>
								<li>
									<p>휴대폰 번호</p> <input class="inputtype" name="phone"
									placeholder="'-' 없이 입력하세요" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
								</li>
							</ul>
						</div>
					</div>
					<div class="container1">
						<div class="tit01">
							<img src="/img/join2.png"> <span>선택정보</span>
						</div>
					</div>
					<div class="container2">
						<div class="list">
							<ul>
								<li>
									<p>성별</p>
								</li>
								<li><input class="checkboxtype" name="sex" id="checker1"
									type="checkbox" onclick='checkOnlyOne(this)' value=""><label
									for="checker1">선택안함</label></li>
								<li><input class="checkboxtype" name="sex" id="checker2"
									type="checkbox" onclick='checkOnlyOne(this)' value=true><label
									for="checker2">남</label></li>
								<li><input class="checkboxtype" name="sex" id="checker3"
									type="checkbox" onclick='checkOnlyOne(this)' value=false><label
									for="checker3">여</label></li>
							</ul>
							<ul class="year-m">
								<li>
									<p>생년월일</p>
								</li>
								<li class="year-c"><select name="year" id="year" title="년도"
									class="custom-select"></select> <select name="month" id="month"
									title="월" class="custom-select"></select> <select name="day"
									id="day" title="일" class="custom-select"></select></li>
									
							</ul>
							
						</div>
					</div>
					<div class="container1">
						<div class="tit01">
							<img src="/img/join3.png"> <span>비밀번호 입력</span>
						</div>
					</div>
					<div class="container2">
						<div class="list">
							<ul>
								<li>
									<p>비밀번호</p> <input type="password" name="password"
									onchange="check_pw()" class="inputtype" id="password_1"
									placeholder="비밀번호(6~16자사이)">
								</li>
								<li>
									<p>재 입력</p> <input type="password" onchange="check_pw()"
									class="inputtype" id="password_2" placeholder="비밀번호 확인">
									<div>
										<label id="check"></label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="btn_box">
						<button type="submit" id="btnJoin">회원가입</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:include="/footer"></footer>
</body>
</html>