<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>주문목록</title>
<link rel="icon" href="../img/favicon.ico">

<link href="css/order_history.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	var pay = '[[${totalPay}]]';
	
	
	
	var amount = (pay % 30000) / 30000 * 100;
	var restPay = 30000 - (pay % 30000);

	$(document).ready(function() {
		if (pay <= 60000) {
			$('.progress-bar').css('width', amount + '%');
			$('#rest').text("등급 상승까지 "+restPay + '원 남았습니다!');
		} else {
			$('.progress-bar').css('width', '100%');
			$('#rest').text('당신은 이미 최고 등급입니다.');
		}

		if (pay >= 0 && pay < 30000) {
			document.getElementById("img_box").src = '../img/mark01.png';
			document.getElementById("img_name").innerText = "TW 등급";
		} else if (pay >= 30000 && pay < 60000) {
			document.getElementById("img_box").src = '../img/mark02.png';
			document.getElementById("img_name").innerText = "WJ 등급";
		} else {
			document.getElementById("img_box").src = '../img/mark03.png';
			document.getElementById("img_name").innerText = "SM 등급";
		}
	})
	
	
	

	
	
</script>
</head>
<body>
	<header th:include="/header"></header>
	<div class="contentsWrap">
		<div class="web_container">
			<div class="subtitWrap">
				<h2 class="page_tit">My킹</h2>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70"
						aria-valuemin="0" aria-valuemax="100">
						<span><strong id="rest"></strong>
						</span>
					</div>
				</div>
			</div>

			<div class="myking_info">
				<div class="member_name">
					<p>
						<strong th:text="${info.name}"></strong><span>님! 반갑습니다</span>
					</p>
				</div>
				<div class="member_info">
					<!-- 등급이미지 -->
					<div class="member_ship">
						<ul>
							<!-- 멤버등급 -->
							<li class="membership_mark"><img id="img_box"></li>
							<li class="membership_grade" id="img_name"></li>
						</ul>
					</div>
				</div>
				<div class="member_info">
					<!-- 등급이미지 -->
					<div class="info_change">
						<ul>
							<li class="membership_tit2"><a href="mypageUpdateForm">정보변경</a></li>
						</ul>
					</div>
				</div>
				<div class="member_info">
					<!-- 등급이미지 -->
					<div class="order_history">
						<ul>
							<li class="membership_tit2"><a href="orderHistoryForm">주문이력</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="contentsBox">
		<div class="web_container2">
			<div class="subtitWrap">
				<h2 class="page_tit">주문내역</h2>
			</div>
			<!-- 주문하나 -->
			<div class="container">
				<div class="order_list">
					<ul th:each="orderInfo,i:${orderInfo}">
						
						<li class="img"><img th:src="${productImg[i.index]}"
							src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/normal/f22cef5d-a695-4d5f-993d-61460a4e5c7d.png"
							alt="버거1"></li>
							
						<li class="cont"><span class="tit" th:text="${productName[i.index]}+' 외 '+ ${productCount[i.index]} + '건'">텍사스 칠리와퍼 </span><span>주문번호
								:<strong th:text="' '+${orderInfo.orderNum}">1</strong>
						</span> <span>주문시간 :<strong th:text="' '+${orderInfo.orderTime}">1</strong></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="/footer"></footer>
</body>
</html>