@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.E_box {
  width: 660px;
  margin: 140px auto;
  font-family: "NanumSquare";
  text-align: center;
  border-top: 3px solid rgba(9, 128, 96, 0.5);
}
.E_box img {
  display: block;
}
.i1 {
  padding: 30px 10px;
}
.i2 {
  margin: 140px auto 30px;
}
.E_box h2 {
  font-size: 20px;
}
.E_box h3 {
  font-size: 25px;
  text-align: left;
  margin: 140px 0 10px 30px;
  font-weight: bold;
}
.in_box {
  background-color: rgba(85, 161, 141, 0.4);
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  margin: 0 30px;
  font-size: 15px;
}
.t1 {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.t2 {
  padding-bottom: 70px;
}
.E_box button {
  width: 180px;
  height: 40px;
  font-size: 15px;
  background-color: #098060;
  color: white;
  border-radius: 5px;
  margin-top: 60px;
}
.E_box button:hover {
  background-color: #17ac84;
  transition: 0.3s all ease;
}
