.item_top {
  width: 1130px;
  margin: 0 auto;
  position: relative;
}
.item_top > h2 {
  font-size: 30px;
  font-family: "SBAggroB";
  margin-top: 122px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.item_top > h2 > strong {
  color: #098060;
}
.item_top > h2.down > strong {
  color: #e63947;
}
.img_item {
  width: 420px;
  display: inline-block;
  position: relative;
}
.item {
  display: block;
  width: 420px;
  height: 420px;
}
.item_num {
  display: none;
}

.up1 {
  width: 420px;
  height: 420px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: white;
  font-family: "SBAggroB";
  font-size: 60px;
  font-weight: 300;
  box-sizing: border-box;
  padding-top: 200px;
}
.up2 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 160px;
  right: 10px;
}
.img_item ul {
  text-align: center;
  margin-top: 20px;
}
.img_item ul li {
  display: inline-block;
  width: 130px;
  height: 130px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-right: 10px;
}
.img_item ul li:last-child {
  margin-right: 0px;
}
.info_top {
  display: inline-block;
  width: 660px;
  vertical-align: top;
  margin-left: 50px;
}
.info_top > img {
  position: absolute;
  top: 40px;
  right: 0px;
}
.info_top > img:hover {
  content: url(../source/img/warn2.png);
}
.top_head {
  font-family: "SBAggroB";
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}
.top_cate {
  font-family: "SBAggroB";
  font-size: 20px;
  font-weight: 300;
  color: #6b6b6b;
  display: block;
  margin-bottom: 5px;
  line-height: 1.3;
}
.top_title {
  font-family: "SBAggroB";
  font-size: 30px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.rating_option {
  display: inline-block;
}
.rating_option span {
  font-size: 25px;
  font-family: "SBAggroB";
  font-weight: 300;
  color: #aeaeae;
  vertical-align: top;
  margin: 0 20px 0 5px;
  line-height: 1.4;
}
.seller {
  font-size: 20px;
  font-family: "SBAggroB";
  display: block;
  text-align: right;
  margin-top: 180px;
}
.deli_bb {
  display: block;
  margin: 10px 0;
}
.deli_name {
  font-size: 20px;
  font-family: "SBAggroB";
  font-weight: 300;
}
.deli_tag {
  font-size: 20px;
  font-family: "SBAggroB";
  font-weight: 300;
  color: #696969;
  float: right;
}
.sell_bb {
  margin-bottom: 20px;
}
.sell_price {
  font-size: 25px;
  font-family: "SBAggroB";
  font-weight: 300;
}
.sell_number {
  font-size: 30px;
  font-family: "SBAggroB";
  color: #696969;
  float: right;
}
.button_bb {
  margin-bottom: 50px;
}
.button_bb span {
  display: block;
  width: 660px;
  height: 60px;
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-family: "SBAggroB";
  font-weight: 300;
  line-height: 2.5;
}
.button_bb .bb_buy:hover {
  background-color: #098060;
  color: #fff;
  transition: 0.3s all ease-in;
}
.button_bb .bb_down:hover {
  background-color: #e63947;
  color: #fff;
  transition: 0.3s all ease-in;
}
.end_bb span {
  display: block;
  font-family: "SBAggroB";
}
.last_price {
  font-size: 25px;
  font-weight: 300;
  margin: 20px 0 5px;
}
.last_number {
  font-size: 40px;
  color: #098060;
}
.last_bb {
  font-family: "SBAggroB";
}
.last_bb > h2 {
  font-size: 20px;
  margin: 235px 0 10px;
}
.last_bb span {
  display: block;
  width: 660px;
  height: 60px;
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 2.5;
  margin-bottom: 50px;
}
.last_bb .bb_buy:hover {
  background-color: #098060;
  color: #fff;
  transition: 0.3s all ease-in;
}
.bb_buy {
  cursor: pointer;
  display: block;
  width: 660px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-family: "SBAggroB";
  font-weight: 300;
  line-height: 2.5;
}
.bb_down {
  cursor: pointer;
  display: block;
  width: 660px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-family: "SBAggroB";
  font-weight: 300;
  line-height: 2.5;
}
.bb_date {
  color: #8c8c8c;
  margin-top: 14px;
}
.bb_last {
  background-color: #00460e !important;
  color: white;
}

/* bot */
.item_bot {
  font-family: "SBAggroB";
  width: 1130px;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.item_bot h2 {
  padding: 50px 0 30px;
  font-size: 30px;
}
.item_bot p {
  padding-bottom: 200px;
  font-size: 20px;
  font-weight: 300;
  color: #767676;
  line-height: 1.7;
}
.sell_review {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.sell_review h2 {
  font-size: 30px;
  display: inline-block;
  margin-right: 10px;
}
.sell_review > textarea {
  resize: none;
  width: 100%;
  height: 200px;
  background-color: #eee;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 300;
}
.last_down {
  margin-bottom: 140px;
}
.sell_review > img {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}
.sell_review > span {
  font-size: 30px;
  color: #e63947;
}
.sell_review_show {
  margin-bottom: 70px;
}
.sell_review_show ul li {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}
.sell_review_show ul li img {
  vertical-align: top;
}
.sell_review_show ul li span:nth-child(1) {
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
  float: left;
}
.sell_review_show ul li span:nth-child(3) {
  line-height: 2.5;
}
.review_write {
  display: inline-block;
  width: 790px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #8c8c8c;
  margin-left: 100px;
  text-align: left;
  padding: 0 0 0 20px;
  vertical-align: middle;
  line-height: 2.5;
}

.sell_review > button {
  width: 150px;
  height: 40px;
  display: block;
  border-radius: 10px;
  background-color: #d9d9d9;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.2;
  margin: 5px 0 140px auto;
}
.sell_review > button:hover {
  background-color: #098060;
  color: white;
  transition: 0.3s all ease;
}

/* sell_down */
.review {
  width: 1130px;
  margin: 0 auto;
  font-family: "SBAggroB";
  text-align: right;
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.review h2 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}
.review textarea {
  resize: none;
  font-weight: 300;
  width: 1130px;
  height: 200px;
  background-color: #eee;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}
.review button {
  width: 150px;
  height: 40px;
  background-color: #eee;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0 126px;
  cursor: pointer;
}
.review button:hover {
  background-color: rgb(161, 161, 161);
  color: white;
  transition: 0.3s all ease;
}
