.chat_in {
  padding: 10px;
  font-size: 1.2em;
}
.chat_btn {
  border: none;
  padding: 10px;
  background: green;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  display: inline-block;
}

.register {
  position: fixed;
  padding: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  top: 35%;
  left: 32%;
  display: flex;
  flex-direction: row;
}
.chat_box {
  background-color: #098060;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  font-family: "nanumsquare";
  font-weight: normal;
  position: absolute;
  top: 37px;
}
.member_list {
  width: 20%;
}

.chat_messages {
  height: 93%;
  overflow: scroll;
  overflow-x: hidden;
}
.send_message {
  width: 100%;
}

.input_message {
  display: none;
  width: 295px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.onChat {
  display: block;
  width: 295px;
  padding: 10px 5px 10px 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #eee;
  font-weight: bold;
}
.onChat:hover {
  background-color: #01c993;
  color: white;
  transition: 0.3s all ease;
}

.avatar {
  background-color: cornflowerblue;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}
.avatar.self {
  color: #000;
  background-color: greenyellow;
}
.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  background-color: rgb(141, 141, 141);
  border-radius: 5px;
  color: white;
}
.message_data {
  padding: 5px;
}
.message.self {
  justify-content: end;
}
