<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메뉴 수정 페이지</title>
<link href="css/productRegist.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../img/favicon.ico">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
	
</script>
</head>
<body>
	<header th:include="/header"></header>
	<div class="banner">
		<div class="img-box">
			<img src="../img/tag.png" alt="태그" class="tag-img"><img
				src="../img/burger.png" alt="버거" class="bur-img">
		</div>
	</div>
	<div class="container">
		<div class="burger all-menu">
			<h2>프리미엄 와퍼</h2>
			<ul>
				<li th:each="product:${productBurger}"><a
					th:href="@{/productUpdateForm(pro=${product.productNum})}"><img
						th:src="${product.productImg}" alt="첨부사진"><span
						th:text="${product.productName}"></span></a></li>
			</ul>

		</div>
		<div class="side all-menu">
			<h2>사이드메뉴</h2>
			<ul>
				<li th:each="product:${productSide}"><a
					th:href="@{/productUpdateForm(pro=${product.productNum})}"><img
						th:src="${product.productImg}" alt="첨부사진"><span
						th:text="${product.productName}"></span></a></li>
			</ul>
		</div>
		<div class="drink all-menu">
			<h2>음료&amp;디저트</h2>
			<ul>
				<li th:each="product:${productDrink}"><a
					th:href="@{/productUpdateForm(pro=${product.productNum})}"><img
						th:src="${product.productImg}" alt="첨부사진"><span
						th:text="${product.productName}"></span></a></li>
			</ul>
		</div>
	</div>
	<div class="remo">

		<!-- th:href="@{/delete(bookNum=${book.jBookNum})} -->
		<!-- -->
		<ul>
			<li><a href="productInsertForm"> <span>제품 추가</span> <img
					src="../img/plus.png" alt="메뉴추가"></a></li>
		</ul>
	</div>
	<footer th:include="/footer"></footer>
</body>
</html>