<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메뉴업데이트</title>
<link href="css/product_update.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../img/favicon.ico">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:include="/header"></header>
	<div class="banner">
		<div class="img-box">
			<img src="../img/tag.png" alt="태그" class="tag-img"><img
				src="../img/burger.png" alt="버거" class="bur-img">
		</div>
	</div>
	<h2 class="tit">제품 정보수정</h2>
	<div class="cont_box">
		<form action="update" method="post">
			<div class="product_img">
				<img th:src="${original.productImg}" alt="첨부사진"> <label>상품번호</label><br>
				<input type="text" size="10" th:value="${original.productNum}"
					name="productNum"> <br>
			</div>
			<div class="product_text">
				<span>상품종류</span> <select name="productType"
					th:value="${original.productType}">
					<option th:selected="${original.productType}=='burger'"
						value="burger">burger</option>
					<option th:selected="${original.productType}=='side'" value="side">side</option>
					<option th:selected="${original.productType}=='drink'"
						value="drink">drink</option>
				</select> <label>제품명</label> <input type="text"
					th:value="${original.productName}" name="productName"> <label>가격</label>
				<input type="text" th:value="${original.productPrice}"
					name="productPrice"> <label>이미지URL</label><input type="url"
					size="30" th:value="${original.productImg}" name="productImg">
			</div>
			<div class="btn_area">
				<button type="submit">수정</button>
				<a th:href="@{/delete(productNum=${original.productNum})}">삭제</a>
			</div>
		</form>
	</div>
	<footer th:include="/footer"></footer>
</body>
</html>