<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>footer</title>
<link href="css/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<footer>
		<div class="fot-top fot-in">
			<ul>
				<li>
					<ul>
						<li class="fot-t"><a href="menuForm">메뉴</a></li>
						<li><a href="#">프리미엄 와퍼</a></li>
						<li><a href="#">사이드</a></li>
						<li><a href="#">음료&amp;디저트</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="fot-t"><a href="#">매장</a></li>
						<li><a href="#">매장찾기</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="fot-t"><a href="#">이벤트</a></li>
						<li><a href="#">이벤트</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="fot-t"><a href="#">브랜드스토리</a></li>
						<li><a href="#">BRAND</a></li>
						<li><a href="#">WHOPPER</a></li>
						<li><a href="#">COMM.</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="fot-t"><a href="#">고객센터</a></li>
						<li><a href="#">공지사항</a></li>
						<li><a href="#">버거킹앱이용안내</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">문의</a></li>
						<li><a href="#">가맹점모집</a></li>
						<li><a href="#">인재채용</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="fot-bot fot-in">
		<ul>
		<li><a href="#"><img src="../img/instagram.png" alt="인스타"></a></li>
		<li><a href="#"><img src="../img/facebook.png" alt="페이스북"></a></li>
		<li><a href="#"><img src="../img/youtube.png" alt="유튜브"></a></li>
		</ul>
		</div>
	</footer>
</body>
</html>