<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header</title>
<link href="css/header.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div class="head-in">
			<div class="logo">
				<a href="/"><img
					src="https://www.burgerking.co.kr/dist/img/logo_header.51e1a8b7.gif"
					alt="로고"></a>
			</div>
			<ul>
				<li><a href="menuForm">메뉴</a></li>
				<li><a href="brandForm">브랜드</a></li>
				<li><a href="#">이벤트</a></li>
				<li class="order"><a href="burgerOrderForm">딜리버리 주문</a></li>
				<li th:if="${session.loginEmail} == null"><div class="login">
						<a href="loginForm">로그인</a>
					</div></li>
				<li th:if="${session.loginEmail} != null"><div class="login">
						<a href="logout">로그아웃</a><a href="mypageForm" class="my_p">마이페이지</a>
					</div></li>
			</ul>
		</div>
	</header>
</body>
</html>