<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>버거주문</title>
	<link href="css/order_burger.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="../img/favicon.ico">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
		var count = '[[${count}]]'

		function basket() {
			var basket = "";

			for (var i = 1; i <= count; i++) {
				var basketNum = $("#productMany" + i).val();
				var basketProduct = $("#product" + i).val();

				if (basketNum != 0) {
					basket = basket.concat(basketProduct + ", " + basketNum + ", ");

				}
			}

			location.href = `/sideOrderForm?basket=${basket}`;

		}

	</script>
</head>

<body>
	<header th:include="/header"></header>
	<div class="banner">

		<div class="img-box">
			<span>문 앞까지 배달 24시간 딜리버리<br>집에서 즐기는 즐거움!
			</span> <img src="../img/bike.png" alt="라이더" class="del-img">
		</div>
	</div>
	<div class="container">

		<div class="burger all-menu">
			<h2>프리미엄 와퍼</h2>

			<ul>
				<li th:each="product,i:${productBurger}">
					<img th:src="${product.productImg}" alt="첨부이미지"> <span th:text="${product.productName}"></span>

					<input type="hidden" th:id="'product'+${i.count}" th:value="${product.productNum}">


					<div th:text="${product.productPrice}" class="price"></div>
					<div class="btn-box">

						<input type="number" th:id="'productMany'+${i.count}" min="0" value="0">

					</div>
				</li>
			</ul>
		</div>
		<div class="next">
			<button onclick="basket()">사이드메뉴</button>
		</div>

	</div>
	<footer th:include="/footer"></footer>
</body>

</html>