@charset "UTF-8";

@font-face {
	font-family: 'RixInooAriDuriR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTTogether';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

strong {
	font-weight: normal !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
}

/* ------------------------------------------------ */
.contentsBox {
	padding: 130px 0 400px;
}

.web_container2 {
	width: 1200px;
	margin: 0 auto;
}

.web_container2 .subtitWrap {
	margin-bottom: 60px;
	border: 0px;
}

.web_container2 .page_tit {
	color: black;
	font-size: 4rem;
	font-family: 'TTTogether';
}

.c_title {
	display: block;
	background-color: #2b0200;
	padding: 10px 0;
}

.c_title span {
	font-family: 'TTTogether';
	font-size: 2.5rem;
	padding-left: 40px;
	color: white;
}

.c_title span:last-child {
	float: right;
	padding-right: 100px;
}

.order_list {
	padding: 5px 50px;
	background: #faa91a;
}

.order_list .c_id {
	vertical-align: top;
	padding: 30px 0;
}

.order_list .c_id span {
	font-family: 'TTTogether';
	font-size: 3rem;
	color: black;
}

.order_list .c_info {
	font-family: 'TTTogether';
	padding-top: 15px;
	float: right;
	color: black;
}

.order_list .c_info .tit {
	font-size: 3rem;
}

.order_list .c_info span {
	display: block;
	font-size: 2rem;
}

.order_list ul {
	border-bottom: 2px dashed #e6e6e6;
}

.order_list ul>li {
	display: inline-block;
}

.info {
	font-family: 'TTTogether';
	margin-top: 25px;
	font-size: 1.125rem;
	color: #737373;
	line-height: 167%;
}

.info>ul {
	display: block;
}

.info>ul>li {
	display: inline;
}