@charset "UTF-8";

@font-face {
	font-family: 'RixInooAriDuriR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTTogether';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
}

footer {
	width: 100%;
	height: 400px;
	background-color: #2b0200;
	display: block;
}

.fot-in {
	display: block;
	width: 1440px;
	margin: 0 auto;
}

.fot-top>ul>li {
	vertical-align: top;
	padding-right: 100px;
	padding-top: 50px;
}

.fot-in>ul>li:first-child {
	padding-left: 200px;
}

.fot-in li.fot-t a {
	color: white;
}

.fot-in>ul>li {
	display: inline-block;
}

footer a {
	font-family: 'RixInooAriDuriR';
	font-size: 2.5rem;
	color: #bba391;
}

.fot-bot ul {
	float: right;
}

.fot-bot ul li {
	padding-right: 10px;
}

.fot-bot ul li a img {
	width: 50px;
}