@charset "UTF-8";

@font-face {
	font-family: 'RixInooAriDuriR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTTogether';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
}

.container {
	margin: 0 auto;
	width: 100%;
	padding: 150px 0 30px;
	background: white;
}

.cont1 {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.cont2 {
	width: 100%;
	height: 100%;
	margin: 50px auto 0;
	padding-bottom: 50px;
	text-align: center;
	background-color: #f2ebe6;
}

.cont2 .m_items {
	display: inline-block;
	width: 100%;
	margin: 50px auto 0;
}

.m_items li:first-child {
	padding-left: 0px;
	border: none;
}

.m_items li:last-child {
	padding-right: 0px;
}

.m_title {
	text-align: center;
	font-family: 'TTTogether';
	font-size: 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
	color: black;
}

.m_title h2 {
	padding: 20px 0 10px;
	font-size: 4rem;
	font-family: 'TTTogether';
	color: black;
}

.m_title img {
	width: 150px;
	text-align: center;
}

.member_name {
	display: block;
	font-size: 20px;
	font-family: 'TTTogether';
	text-align: center;
}

.member_name span {
	display: block;
	font-size: 3rem;
}

.m_info {
	display: inline-block;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	border-left: 2px solid #3F3F3F;
}

.m_all {
	margin-top: 15px;
	font-size: 30px;
	font-family: 'TTTogether';
	color: black;
	display: block;
}

.m_img {
	text-align: center;
}

.m_img img {
	display: inline-block;
	width: 100px;
}

.m_people img {
	width: 120px;
}

.m_people span {
	margin-top: 0px;
}