@charset "UTF-8";

@font-face {
	font-family: 'RixInooAriDuriR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTTogether';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
}

body {
	width: 100%;
	background-color: #f2ebe6 !important;
}

.container {
	width: 1440px !important;
	margin: 0 auto;
}

/* banner */
.banner {
	width: 100%;
	height: 300px;
	background-image: url(../img/shop.jpg);
	background-position: 70% 100%;
	background-repeat: no-repeat;
	background-size: 500px;
	background-color: white;
	margin-top: 120px;
	overflow: hidden;
}

.img-box {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.img-box .del-img {
	position: absolute;
	top: 167px;
	left: 300px;
	width: 180px;
}

.img-box span {
	padding-left: 150px;
	padding-top: 40px;
	font-family: 'TTTogether';
	font-size: 3rem;
	display: block;
	color: black;
}

/* menu */
.all-menu {
	width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 100px;
}

.all-menu h2 {
	font-family: 'TTTogether';
	font-weight: bold;
	color: #2b0200;
	padding: 30px 0 0;
}

.all-menu ul {
	width: 100%;
	text-align: left;
}

.all-menu ul li {
	display: inline-block;
	width: 250px;
	margin: 30px 20px;
	text-align: center;
}

.all-menu ul li img {
	width: 100%;
}

.all-menu ul li span {
	font-family: 'TTTogether';
	font-size: 20px;
	color: #555;
}

.price {
	padding: 10px 0 15px;
	font-family: 'TTTogether';
	font-size: 2rem;
	color: black;
}

.btn-box {
	display: black;
	margin: 0 auto;
	width: 120px;
	height: 30px;
}

.btn-box input {
	width: 100%;
	text-align: center;
	padding-left: 15px;
	font-size: 2rem;
	font-family: 'NanumSquareRound';
	border-radius: 10px;
}

.next {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;
}

.next button:hover {
	background-color: #faa91a;
	color: white;
}

.next button {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 70px;
	background-color: white;
	border-radius: 30px;
	color: black;
	line-height: 2.5;
	font-family: 'RixInooAriDuriR';
	font-size: 3rem;
}

.side_next {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;
}

.side_next button {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 70px;
	background-color: white;
	border-radius: 30px;
	color: black;
	line-height: 2.5;
	font-family: 'RixInooAriDuriR';
	font-size: 3rem;
}

.side_next button:hover {
	background-color: #faa91a;
	color: white;
}