.wrapper {

    width : 1920;
    height: 1623px;
    left: 0px;
    top: 0px;   
}

.container {

    position: absolute;
    width: 1440px;
    height: 1623px;
    left: 240px;
    top: 0px;
}

#Logo {

    position: absolute;
    width: 299.03px;
    height: 290px;
    left: 810px;
    top: 254px;

   
}

#id {
    
    box-sizing: border-box;

    position: absolute;
    width: 450px;
    height: 50px;
    left: 735px;
    top: 650px;
    
    border: 1px solid #E0E0E0;

    font-family: 'SBAggroB';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #E0E0E0;

}

#password {

    box-sizing: border-box;
    position: absolute;
    width: 450px;
    height: 50px;
    left: 735px;
    top: 710px;
    border: 1px solid #E0E0E0;
    font-family: 'SBAggroB';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
/* identical to box height */
    color: #E0E0E0;

}

#login {
    position: absolute;
    width: 450px;
    height: 60px;
    left: 735px;
    top: 818px;
    background: #098060;

    font-family: 'SBAggroB';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: grid;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#join {
    box-sizing: border-box;
    position: absolute;
    width: 450px;
    height: 60px;
    left: 735px;
    top: 888px;
    background: #FFFFFF;
    border: 0.3px solid #000000;

    font-family: 'SBAggroB';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: grid;
    align-items: center;
    text-align: center;
    color: #000000;
}

#logintext {

position: absolute;

height: 36px;
left: 735px;
top: 594px;

font-family:'SBAggroB';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;
}